<!-- Footer Section -->

  <div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-heading">
            <h3>Groups</h3>
          </div>
          <div class="footer-nav">
            <ul>
              <li><a href="#">Alibaba Group</a></li>
              <li><a href="#">Taobao Marketplace</a></li>
              <li><a href="#">Tmall.com</a></li>
              <li><a href="#">Juhuasuan</a></li>
              <li><a href="#">AliExpress</a></li>
              <li><a href="#">Alibaba.com International</a></li>
              <li><a href="#">1688.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-heading">
            <h3>Groups</h3>
          </div>
          <div class="footer-nav">
            <ul>
              <li><a href="#">Alimama</a></li>
              <li><a href="#">Fliggy</a></li>
              <li><a href="#">Alibaba Cloud</a></li>
              <li><a href="#">YunOS</a></li>
              <li><a href="#">AliTelecom</a></li>
              <li><a href="#">HiChina</a></li>
              <li><a href="#">Autonavi</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-heading">
            <h3>Groups</h3>
          </div>
          <div class="footer-nav">
            <ul>
              <li><a href="#">UCWeb</a></li>
              <li><a href="#">Umeng</a></li>
              <li><a href="#">Xiami</a></li>
              <li><a href="#">Diandianchong</a></li>
              <li><a href="#">DingTalk</a></li>
              <li><a href="#">Alipay</a></li>
              <li><a href="#">Lazada</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-heading">
            <h3>Company</h3>
          </div>
          <div class="footer-nav">
            <ul>
              <li><a href="#">Product Listing Policy</a></li>
              <li><a href="#">Intellectual Property Protection</a></li>
              <li><a href="#">Xiami</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right">
    <div class="container">
      <div class="row">
      <div class="col-sm-12">
        <p>© 1999-2017 Alibaba.com. All rights reserved.</p>
      </div>
      </div>
    </div>
    </div>
  </div>

