<section>
    <div class="page_inside">
      <div class="container">	
        <div class="row">
          <div class="col-xs-12">
            <div class="registration_step">
              <ul class="clearfix">
                <li class="active">
                  <i>1</i>
                  <span>Verification</span>
                </li>
                <li>
                  <i>2</i>
                  <span>Information</span>
                </li>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  <span>Complete</span>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="col-xs-12">
            <div class="bg_color_sh">	
              <div class="form_content">
                <form>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-5">
                        <label>Email</label>
                      </div>
  
                      <div class="col-xs-12 col-sm-7">
                        <input type="email" name="email" autocomplete="off" class="form_text" placeholder="Please enter the email">
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                        <input type="checkbox" class="input_checkbox">
                        <div class="input_agreement">
                          <p>Upon creating my account, I agree to:</p>
                          <p>- The <a href="#">Alibaba.com User Agreement</a></p>
                          <p>- Receive emails related to Alibaba.com membership and services</p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-7 col-sm-offset-5">
                        <button type="button" (click)="SubmitEmailVerify();" class="submit_btn">Next</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="marginT200"></div>