<div id="stripes" class="over-hidden"> <span></span> <span></span> <span></span> <span></span> <span></span> </div>
<nav id="c-menu--push-right" class="c-menu c-menu--push-right" [ngClass]="{'is-active':MainMenu}">
  <button class="c-menu__close"></button>
  <ul>
    <li>
      <a href="#">One-click Sourcing Tool </a>
    </li>
    <li>
      <a href="#">Purchasing Agent</a>
    </li>
    <li>
      <a href="#">Manage RFQs</a>
    </li>
  </ul>
</nav>

<div id="c-mask" class="c-mask" (click)="MainMenu = !MainMenu" [ngClass]="{'is-active':MainMenu}"></div>
<!-- /c-menu push-right -->


<div class="container">  
  <div class="row">
    <div class="col-xs-12">
      <div class="c-buttons">
        <div class="hamburger hamburger--spring js-hamburger" id="c-button--push-right" [ngClass]="{'is-active':MainMenu}">
          <div class="hamburger-box" (click)="MainMenu = !MainMenu">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main">
  <div class="header-wrap header-wrap2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-logo"> 
		  	<a href="#"> 
            </a> 
		  </div>
        </div>
        <div class="col-md-9">
          <div class="header-nav">
            <ul class="nav-in">
              <li> <a href="#">One-click Sourcing Tool <span class="add-new">New</span></a> </li>
              <li> <a href="#">Purchasing Agent</a> </li>
              <li> <a href="#">Manage RFQs</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
