<!-- Main Content -->
<div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-wrap">
            <div class="rfq-logo"> 
            </div>
            <div class="title">
              <div class="main">Request for Quotation</div>
              <div class="week">One Request, Multiple Quotes</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <h1 class="main-title" data-role="title">Tell suppliers what you need</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-wrapper">
            <div class="row">
              <div class="col-md-8">
                <div class="form-content">
                  <h3>Complete Your RFQ</h3>
                  <p>The more specific your information, the more 	accurately we can match your request to the right suppliers</p>
                </div>
              </div>
              <div class="col-md-4">
                <h3 class="section-title">Completeness of Information</h3>
                <div class="step_progressbar">
                    <div class="common_width initial">
                    </div>
                    <div class="common_width medium">
                    </div>
                    <div class="common_width ending"></div>
                    <div class="clearfix"></div>
                    <div class="progress_slide"></div>
                </div>
              </div>
            </div>
            <form id="rfq" [formGroup]="quotationForm" novalidate (ngSubmit)="SubmitQuotaion(quotationForm)">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group autocomplete-box">
                     <input formControlName="prodCat" class="form-control custom-textbox" placeholder="Key words of products you are looking for" autocomplete [config]="config2" [items]="items2"
                      (inputChangedEvent)="onInputChangedEvent($event)"
                      (selectEvent)="onSelect($event)">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <p *ngIf="!quotationForm.get('prodCat').touched">Please input product keywords</p>

                    <div class="rfq_error_msg" *ngIf="quotationForm.get('prodCat').touched && quotationForm.get('prodCat').hasError('required')">
                      <i class="fa fa-window-close-o" aria-hidden="true"></i>
                      <span>Please enter the product name.</span>
                    </div>
                    <div class="validate_msg" *ngIf="quotationForm.get('prodCat').touched && quotationForm.get('prodCat').valid">
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      <span>Please input product keywords</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <p>Please select a category :</p>
                    <div class="category-wrap">
                      <ul>
                        <li>
                          <select class="form-control custom-dropdown" [(ngModel)]="selectedMainCategory.id" (change)="onSelectMainCategory($event.target.value)" formControlName="MainCategory">
                            <option value="0">--Select--</option>
                            <option *ngFor="let MCategory of MainCategories" value= {{MCategory.id}}>{{MCategory.name}}</option>
                          </select>
                        </li>
                        <li *ngIf="SubCategoriesOne">
                          <select class="form-control custom-dropdown" (change)="onSelectSubCategoryOne($event.target.value)" formControlName="SubCategoryOne">
                            <option *ngIf='selectedMainCategory.id == 0' value="0">--Select--</option>
                            <option *ngFor="let SCategoryOne of SubCategoriesOne" value= {{SCategoryOne.id}}>{{SCategoryOne.name}}</option>
                          </select>
                        </li>
                        <li *ngIf="SubCategoriesTwo">
                          <select class="form-control custom-dropdown" (change)="onSelectSubCategoryTwo($event.target.value)" formControlName="SubCategoryTwo">
                            <option *ngFor="let SCategoryTwo of SubCategoriesTwo" value= {{SCategoryTwo.id}}>{{SCategoryTwo.name}}</option>
                          </select>
                          
                        </li>
                        <li *ngIf="SubCategoriesThree">
                          <select class="form-control custom-dropdown" formControlName="SubCategoryThree">
                            <option *ngFor="let SCategoryThree of SubCategoriesThree" value= {{SCategoryThree.id}}>{{SCategoryThree.name}}</option>
                          </select>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group prod-quantity-wrap">
                    <div class="prod-quantity">
                      <input type="text" OnlyNumberInput="true" formControlName="quantity" class="form-control custom-textbox" placeholder="Enter quantity" />
                    </div>
                    <div class="pices">
                      <select class="form-control custom-dropdown">
                        <option *ngFor="let QSelect of QuantitySelect" value= {{QSelect.id}}>{{QSelect.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      
                    <p *ngIf="!quotationForm.get('quantity').touched">Enter estimated bulk order quantity first even if you’re requesting for samples</p>
                      
                    <div class="rfq_error_msg" *ngIf="quotationForm.get('quantity').touched && quotationForm.get('quantity').hasError('required')">
                      <i class="fa fa-window-close-o" aria-hidden="true"></i>
                      <span>Please enter a Quantity and select a Unit.</span>
                    </div>
                    <div class="validate_msg" *ngIf="quotationForm.get('quantity').touched && quotationForm.get('quantity').valid">
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      <span>Enter estimated bulk order quantity first even if you’re requesting for samples</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group full-border">
                    <textarea class="form-control custom-textarea" placeholder="Enter Message"></textarea>
                    <div class="upload-image">
                      <div data-role="browser" class="ui2-btn-upload " style="margin: 0px;">Upload Attachments</div>
                      <!-- <div class="uload-img-wrap"></div> -->
                      <input type="file" formControlName="image" class="custom-file" />
                    </div>
                    <div class="remaining-word">
                      <p>Remaining: <span>7924</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group div-wrap">
                    <div class="textarea-msg">
                      <p>Please let suppliers know your detailed requirements. You may include: color, size, material, grade/standard, etc</p>
                    </div>
                    <div class="image-req-msg">
                      <p>Attachments like product pictures/images would improve your RFQ.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="other-details">
                    <h3 class="other-req-details" (click)="OtherRequirements = !OtherRequirements">Other Requirements</h3>
                    <p>Include unit price, payment terms, etc.</p>
                  </div>
                  <div class="other-details-field" [hidden]="!OtherRequirements">
                    <div class="form-group">
                      <ul>
                        <li>
                          <select class="form-control custom-dropdown">
                            <option *ngFor="let OtherFOB of OtherSelectFOB" value= {{OtherFOB.id}}>{{OtherFOB.Name}}</option>
                          </select>
                        </li>
                        <li>
                          <input type="text" OnlyNumberInput="true" [attr.maxlength]="10" formControlName="UnitPrice" class="form-control custom-textbox" placeholder="Preferred unit price">
                        </li>
                        <li>
                          <select class="form-control custom-dropdown">
                            <option *ngFor="let PriceType of PriceSelectType" value= {{PriceType.id}}>{{PriceType.Name}}</option>
                          </select>
                        </li>
                        <li>
                          <input type="text" formControlName="DestPort" class="form-control custom-textbox" placeholder="Destination Port">
                        </li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <select class="form-control custom-dropdown">
                        <option *ngFor="let MoneyTransfer of MoneyTransferSelect" value= {{MoneyTransfer.id}}>{{MoneyTransfer.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="other-details add-services">
                    <h3>Value-added Services</h3>
                    <p>Choose service below for requests that need quicker or more quotations from suppliers. Paid </p>
                    <p>RFQ will receive priority. <a href="#" target="_blank"><span>Learn more</span></a></p>
                    <p>I agree with the <a href="#" target="_blank"><span>Term and Conditions</span></a></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="service-price">
                    <div class="ur-req" [ngClass]="{'req_active':UrgentRequestState}" (click)="UrgentRequestFun();"> 
                      <span><i class="fa fa-clock-o"></i></span>
                      <h4>Urgent Request</h4>
                      <p class="ur-price">US ${{UrgentRequestRate}}</p>
                      <p class="dis-price">US $29.99</p>
                      <p>Up to 10x quicker to find the right supplier.</p>
                      <div class="triangle">
                          <i class="fa fa-check"></i>
                        </div>
                    </div>
                    <div class="ur-req" [ngClass]="{'req_active':ExtraQuotesState}" (click)="ExtraQuotesFun();"> 
                      <span><i class="fa fa-envelope-o"></i></span>
                      <h4>Extra Quotes</h4>
                      <p class="ur-price">US ${{ExtraQuotesRate}}</p>
                      <p class="dis-price">US $9.99</p>
                      <p>Get Up to 2x more quotes from suppliers.</p>
                      <div class="triangle">
                          <i class="fa fa-check"></i>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="total-fee">
                    <p>Total Service Fee: <span>US ${{TotalServiceFree}}</span></p>
                  </div>
                  <div class="confirm-checkbox">
                    <ul>
                      <li>
                        <label for="business-card">
                          <input type="checkbox" formControlName="BusinessCard" id="business-card" class="custom-checkbox" checked />
                          I agree to share my <a href="#">Business Card</a> with quoted suppliers
                        </label>
                      </li>
                      <li>
                        <label for="tms-rfq">
                          <input type="checkbox" formControlName="TmsRfq" id="tms-rfq" class="custom-checkbox" checked />
                          I have read, understood and agreed to abide by <a href="#">Terms and Conditions Governing RFQ</a>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group button-wrap">
                    <input type="submit" value="Submit RFQ" class="custom-button" />
                  </div>
                </div>
              </div>
            </form>
            <div class="other-details add-services">
              <h3>How to Get Quotes quickly?</h3>
            </div>
            <div class="steps">
              <ul>
                <li><i class="fa fa-file-word-o" aria-hidden="true"></i>Submit RFQ</li>
                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i></li>
                <li><i class="fa fa-file-code-o" aria-hidden="true"></i>Compare Quotes</li>
                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i></li>
                <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Contact Supplier</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  