<div id="stripes" class="over-hidden"> <span></span> <span></span> <span></span> <span></span> <span></span> </div>

<header>
		<div class="header_content">
			<div class="container">
			  	<div class="row">
			        <div class="col-xs-6">
			          	<div class="page-title-wrap">
			            	<div class="title">
			              		<div class="logo_bg">
			              			<a href="index.html"></a>
			              		</div>
			            	</div>
			          	</div>
			        </div>

			        <div class="col-xs-6">
			        	<div class="singin_wrapper">
			        		<ul>
			        			<li><a href="#">Sign In</a></li>
			        			<li><a href="#">Help</a></li>
			        		</ul>
			        	</div>
			        </div>
			    </div>
			</div>
		</div>
  </header>
  