<!-- Headers Start -->
<app-header-request-quotation *ngIf="!showNewHeader()"></app-header-request-quotation>
<app-header-registration *ngIf="showNewHeader()"></app-header-registration>
<!-- Headers End -->

<!-- Main Container Start -->
<router-outlet></router-outlet>
<!-- Main Container End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->