@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: 'Open Sans', sans-serif;
}
/* Comman Style */
.over-hidden {
	overflow: hidden;
}
.custom-textbox, .custom-dropdown {
	border-radius: 0px;
	border: 1px solid #ccc;
	height: 40px;
}
.custom-textbox:focus, .custom-dropdown:focus, .form-control.custom-textarea:focus {
	outline: none;
	box-shadow: none;
	border-color: #307bff;
}
.category-wrap ul {
	padding-left: 0px;
	list-style-type: none;
	display: table;
	width: 100%;
}
.category-wrap ul:after {
	content: '';
	display: block;
	clear: both;
}
.category-wrap ul li {
	/*display: inline-block;*/
	/*width: 25%;*/
	/*float: left;*/
	padding-right: 10px;
	display: table-cell;
}
.category-wrap ul li:last-child {
	padding-right: 0px;
}
/*.custom-dropdown{
	border-radius: 0px;
	border:1px solid #ccc;
}*/
.form-control.custom-textarea {
	height: 150px;
	resize: none;
	border-radius: 0px;
}
.button-wrap {
	text-align: center;
}
.custom-button {
	border: 1px solid #3274ff;
	height: 40px;
	width: 140px;
	background: #3274ff;
	color: #fff;
	transition: all 0.3s;
}
.custom-button:hover {
	color: #fff;
	background: #f96b00;
	border-color: #f96b00;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.section-title {
	font-size: 21px;
	font-weight: 600;
}
/* Comman Style End */

/* Header Style */
.header-wrap {
	z-index: 9;
	width: 100%;
	padding: 15px 0;
	/*position: absolute;*/
}
.header-wrap2{
	/*position: relative;*/
}
.header-wrap:after {
	content: '';
	display: block;
	clear: both;
}
.header-logo {
	float: left;
	width: 30%;
	padding: 15px 0;
}
.header-logo a {
	background: url("assets/img/logo.png") no-repeat;
    display: block;
    width: 200px;
    height: 32px;
    text-decoration: none;
}
/*.header-logo h3 {
	margin: 0px;
	color: #fff;
}*/
.mobile-nav-button {
	display: none;
}
.header-nav {
	/*float: left;
	width: 70%;*/
	text-align: right;
}
.header-nav .nav-in, .header-nav2 .header-nav2-in {
	padding-left: 0px;
}
.header-nav .nav-in li, .header-nav2 .header-nav2-in li {
	display: inline-block;
	position: relative;
}
.header-nav .nav-in li a, .header-nav2 .header-nav2-in li a {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	color: #fff;
	padding: 0 25px;
	position: relative;
	text-decoration: none;
}
.header-nav2 .header-nav2-in li a {
	padding: 15px;
}
.header-nav .nav-in li:hover a {
	color: #e4dede;
}
.header-nav .nav-in li a .add-new {
	position: absolute;
	font-size: 12px;
	top: -10px;
	right: -15px;
	background: #4CAF50;
	padding: 0px 5px;
}
/* Header Style End */
/* Gradient Back Color */
#stripes {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: skewY(-12deg);
	transform-origin: 0;
	background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}
#stripes, #stripes span {
	position: absolute;
}
#stripes span {
	height: 40px;
}
#stripes :nth-child(1) {
	width: 50%;
	left: 50%;
	top: 40px;
	background: #4c29ff;
}
#stripes :nth-child(2) {
	width: 14%;
	right: 0;
	bottom: 40px;
	background: #2be7ff;
}
#stripes :nth-child(3) {
	width: 25%;
	bottom: 0;
	right: 0;
	background: #a1ffc8;
}
/* Gradient Back Color End */
.content-wrapper {
	/*margin-top: 90px;*/
	background: #f6f9fc;
}
.page-title-wrap {
	padding: 0px 0px 30px;
}
.rfq-logo {
	vertical-align: middle;
	display: inline-block;
	background: url("assets/img/rfq.png") 0 0;
	width: 57px;
	height: 40px;
	background-size: 100%;
	margin-right: 10px;
}
.page-title-wrap .title {
	display: inline-block;
	vertical-align: middle;
}
.page-title-wrap .title .main {
	font-weight: bold;
	font-size: 22px;
	color: #fff;
}
.page-title-wrap .title .week {
	font-size: 16px;
	color: #fff;
}
.main-title {
	color: #fff;
	margin: 0;
}
/* Form Wrapper */
.form-wrapper {
	margin: 30px 0;
	padding: 15px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.75);
}
.form-content {
	color: #333;
}
.form-content h3 {
	font-size: 21px;
	font-weight: 600;
}
.prod-quantity-wrap:after {
	content: '';
	display: block;
	clear: both;
}
.prod-quantity {
	float: left;
	width: 70%;
}
.pices {
	float: left;
	width: 30%;
}
.full-border {
	border: 1px solid #ccc;
	padding-bottom: 15px;
}
.full-border .form-control.custom-textarea {
	border: 0px;
}
.upload-image {
	width: 100px;
	height: 100px;
	/*overflow: hidden;*/
	position: relative;
}
.uload-img-wrap {
	position: absolute;
	background: transparent;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 90;
	opacity: 1;
}
.custom-file {
	position: absolute;
	left: 0;
	float: none;
	right: 0;
	width: 100%;
	outline: none;
	height: 100%;
	opacity: 0;
}
.ui2-btn-upload {
	margin-right: 0px;
	padding-top: 69px;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #999;
	background: #fff url("assets/img/uploader-btn-icon.png") 50% 38% no-repeat;
	cursor: pointer;
	border: 1px dashed #dae2ed;
	position: absolute;
	left: 12px;
	right: 0;
	width: 100%;
	height: 100%;
}
.remaining-word {
	padding: 10px 10px 0px;
	text-align: right;
}
.remaining-word p {
	margin-bottom: 0px;
	font-weight: 600;
}
.remaining-word p span {
	color: #f96b00;
}
.other-details h3.other-req-details, .other-details h3 {
	position: relative;
	float: left;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
	padding-right: 30px;
}
.other-details h3.other-req-details:after {
	content: "\f078";
	font-family: FontAwesome;
	font-weight: normal;
	text-decoration: inherit;
	color: #333;
	font-size: 18px;
	padding-right: 0.5em;
	position: absolute;
	top: 2px;
	right: 0;
}
.other-details h3.other-req-details.up-icon:after {
	content: "\f077";
}
.other-details:after {
	content: '';
	display: block;
	clear: both;
}
.other-details p {
	clear: both;
}
/*.other-details-field {
	display: none;
}*/
.other-details-field ul {
	padding-left: 0px;
	list-style-type: none;
}
.other-details-field ul:after {
	content: '';
	display: block;
	clear: both;
}
.other-details-field ul li {
	display: inline-block;
	width: 25%;
	float: left;
	padding-right: 15px;
}
.other-details-field ul li:last-child {
	padding-right: 0px;
}
.add-services h3 {
	margin-bottom: 20px;
	pointer-events: none;
}
.add-services p {
	margin-bottom: 4px;
}
.add-services p a:hover {
	color: #f96b00;
	text-decoration: none;
}
.service-price {
	padding: 30px 0px 0px;
}
.service-price:after {
	content: '';
	display: block;
	clear: both;
}
.ur-req {
	width: 40%;
	float: left;
	margin: 0% 5%;
	padding: 10px;
	text-align: center;
	transition: all 0.5s;
	border: 2px solid rgb(232, 228, 228);/* box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 0px 10px rgba(0, 0, 0, 0.5);*/
    position: relative;
    cursor: pointer;
}
.triangle{position: absolute; right: 0; bottom: 0; width: 0; height: 0; line-height: 16px; border-style: solid; border-width: 21px; border-color: transparent #ff6a00 #ff6a00 transparent; display: none;}
.req_active .triangle{display: block;}
.req_active{border-color: #f46900;}
.ur-req .triangle i{font-size: 16px; color: #fff;}
#rfq .rfq_error_msg{width: 100%; padding-left: 25px; position: relative; color: #F33; }
#rfq .rfq_error_msg i{position: absolute; left: 0; top: 3px;}
#rfq .validate_msg{width: 100%; padding-left: 25px; position: relative; color: #5cb85c;}
#rfq .validate_msg i{position: absolute; left: 0; top: 3px;}
.ur-req:hover {
	border-color: #f46900;
	border-radius: 4px;
}
.ur-req h4 {
	margin: 0px 0px 5px;
}
.ur-req span {
	display: block;
	text-align: center;
	font-size: 50px;
	color: #f96b00;
	font-weight: normal;
}
.ur-price {
	color: #f96b00;
	font-size: 16px;
	margin-bottom: 0px;
}
.dis-price {
	font-size: 12px;
	font-weight: 600;
	color: #ccc;
	text-decoration: line-through;
}
.total-fee {
	margin-top: 30px;
}
.total-fee p {
	font-size: 16px;
	font-weight: 600;
}
.total-fee p span {
	color: #f96b00;
}
.confirm-checkbox {
	margin-bottom: 30px;
}
.confirm-checkbox ul {
	padding-left: 0px;
	list-style-type: none;
}
.confirm-checkbox ul li {
	margin-bottom: 10px;
}

.confirm-checkbox ul li label{
	font-weight: normal;
	margin: 0;
}
.confirm-checkbox ul li .custom-checkbox {
	width: 15px;
	height: 15px;
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
}
.steps ul {
	padding-left: 0px;
	list-style-type: none;
}
.steps ul li {
	display: inline-block;
	padding-right: 15px;
	font-size: 21px;
	color: #6d6d6d;
}
.steps ul li .fa {
	margin-right: 10px;
}
.div-wrap {
	height: 280px;
}
.image-req-msg {
	position: absolute;
	bottom: 0px;
}
/* Footer Section */
.footer-wrap {
	margin-top: 50px;
	/*background: #f6f9fc;*/
	border-top: 1px solid #dedede;
}
.footer-heading {
	margin-bottom: 20px;
	/*color: #2a75ff;*/
	color: #8898aa;
}
.footer-nav {
	padding-bottom: 20px;
}
.footer-nav ul {
	padding-left: 0px;
	list-style-type: none;
}
.footer-nav ul li {
	margin-bottom: 6px;
}
.footer-nav ul li a {
	color: #8898aa;
	text-decoration: none;
	transition: all 0.3s;
}
.footer-nav ul li:hover a {
	color: #2a75ff;
	padding-left: 5px;
}
.copy-right {
	border-top: 1px solid #dedede;
}
.copy-right p {
	margin-bottom: 0px;
	padding: 15px;
	text-align: center;
}
/*Buyer Page */
.content-wrapper.mt-0 {
    margin-top: 0px;
}
.buyer-header-bg {
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
}
.hero-image img {
    width: 100%;
}
.search-tab {
    position: relative;
}
.search-tab-wrap {
    margin: 30px 0px;
}
.tabs-animated {
  overflow: hidden;
}
.search-tab-wrap .nav-tabs {
    background: rgba(255, 255, 255, 0.75);
}
.search-tab-wrap .tabs-animated ul li a {
    border-radius: 0px;
    border-bottom: 2px solid transparent;
}
.search-tab-wrap .nav-tabs>li.active>a,
.search-tab-wrap .nav-tabs>li.active>a:focus, 
.search-tab-wrap .nav-tabs>li.active>a:hover,
.search-tab-wrap .nav>li>a:focus, .search-tab-wrap .nav>li>a:hover {
    color: #3a63ff;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 2px solid #3f5cff;
}
.search-tab .tab-pane {
  /*height: 250px;*/
  width: 100%;
  background: rgba(255, 255, 255, 0.59);
}
.tab-content-wrap {
    padding: 15px;
}
.buyer-filed-wrap {
    display: inline-block;
    margin-right: 15px;
	margin-bottom: 5px;
}
.buyer-filed-wrap:after {
    content: '';
    display: block;
    clear: both;
}
.buyer-form-label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    float: left;
    padding: 7px 10px;
    margin-right: 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    height: 40px;
	background: rgba(255, 255, 255, 0.75);
}
.label-style {
    font-weight: normal;
}
.buyer-form-field {
    width: 180px;
    float: left;
    position: relative;
    display: block;
}
.form-control.custom-textbox2,
.form-control.custom-dropdown2 {
    border-color: #cccccc;
}
.calcu-button-wrap {
    position: absolute;
    top: 15px;
    right: 20px;
}
.mess-note {
    margin: 20px 0;
    border-top: 1px solid #dedede;
    padding: 30px 0;
}
.mess-note p {
    text-align: center;
    margin-bottom: 5px;
}
.search-process ul {
    padding-left: 0px;
    list-style-type: none;
}
.search-process ul li {
    display: inline-block;
    padding-right: 15px;
	position:relative;
}
.search-process ul li:after {
    content: "\f178";
    font-family: FontAwesome;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    right: 0;
}
.faq-sec {
    padding: 50px 0 0px;
    border-top: 1px solid #dedede;
}
.faq-content .section-title {
    margin-top: 0px;
}
.faq-content ul {
    padding-left: 20px;
}
.faq-content ul li {
    margin-bottom: 15px;
}
.faq-image {
    overflow: hidden;
}
.faq-image img {
    transition: all 0.5s;
}
.faq-image:hover img {
    transform: scale(1.1);
}
/*Buyer Page End */

/* Buyer Page Precess Step Css */
.process-step-wrap {
    height: 90px;
}
@keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@-moz-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
/*h1 {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  color: #777;
}*/

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
}

ul.checkout-bar li {
  color: #57add1;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #57add1;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #57add1;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #57add1;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/*@media all and (min-width: 800px) {*/
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #57add1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 0px;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #57add1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
/*}*/
/* Buyer Page Precess Step Css End */


/**** Registration form css ****/
header{padding: 10px 0; font-family: 'Roboto', sans-serif;}
.header_content .title .week, .header_content .title .main{color: #3e3e3e;}
.header_content .page-title-wrap{padding: 0;}
.header_content .singin_wrapper{text-align: right; padding: 14px 0;}
.header_content .singin_wrapper ul{margin: 0; padding: 0;}
.header_content .singin_wrapper ul li{display: inline-block; list-style-type: none;}
.header_content .singin_wrapper ul li a{font-size: 12px; color: #ffffff; padding: 0 10px; border-right: 1px solid #ffffff; display: block; line-height: 12px;}
.header_content .logo_bg{padding: 8px 0;}
.header_content .logo_bg a{background: url("assets/img/logo.png") no-repeat; display: block; width: 200px; height: 32px; text-decoration: none;}
.header_content .singin_wrapper ul li:last-child a{border-right: 0;}
.page_inside {font-family: 'Roboto', sans-serif;}
.registration_step{border-bottom: 2px solid #e9eef5; margin: 30px 0 0; height: 46px;}
.registration_step ul{width: 100%; max-width: 800px; margin: 0 auto; padding: 0;}
.registration_step ul li{width: 240px; text-align: center; font-size: 16px; color: #ffffff; float: left; height: 46px; line-height: 46px; list-style-type: none; font-weight: 700;}
.registration_step ul li.active{border-bottom: 2px solid #ff6a00; color: #ffffff;}
.registration_step ul li.active i{background: #3274ff;}
.registration_step ul li i{width: 24px; height: 24px; border-radius: 50%; background: #c8d2e0; display: inline-block; color: #ffffff; text-align: center; font-style: normal; line-height: 24px;}
.bg_color_sh{box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1); background: rgba(255, 255, 255, 0.75); margin: 50px 0 0;}
.form_content{width: 100%; max-width: 800px; margin: 0 auto; padding: 30px 0;}
.form_content label{display: block; text-align: right; margin: 0; padding: 7px 0; font-weight: normal;}
.form_content label.user_name{font-weight: 700; font-size: 16px;}
.form_content .form_text{height: 40px; border: 1px solid #ccc; outline: none; padding: 6px 12px; width: 330px; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.form_content .form_text:focus{border-color: #307bff;}
.form_content .input_checkbox{float: left; margin-right: 10px; margin-top: 18px;}
.form_content .input_agreement{float: left; margin-top: 15px;}
.form_content .input_agreement p{line-height: 18px; color: #666; margin: 0; font-size: 12px;}
.form_content .input_agreement p a{color: #1686cc; text-decoration: none;}
.form_content .input_agreement p a:hover, .form_content .input_agreement p a:focus{color: #3274ff;}
.form_content .submit_btn{background: #3274f4; border: 1px solid #3274ff; height: 40px; width: 200px; color: #ffffff; line-height: 38px; font-size: 16px; font-weight: 700; margin: 30px 0 0; outline: none; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; display: inline-block; text-decoration: none; text-align: center;}
.form_content .submit_btn:hover, .form_content .submit_btn:focus{background: #f96b00; border-color: #f96b00; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -ms-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);}
.form_content select{height: 40px; outline: none; width: 330px; padding: 0 6px; margin: 0 0 15px; border: 1px solid #ccc;}
.form_content select.country_inside{width: 300px; margin: 0;}
.form_content .radio_wrapper{padding-left: 20px;}
.form_content .radio_wrapper label{display: inline-block; margin: 0 40px 0 0;}
.form_content .radio_wrapper label:last-child{margin: 0;}
.form_content .form-inline .form_name{width: 100%; height: 40px; border: 1px solid #ccc; outline: none; padding: 6px 12px; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.form_content .form-inline .form-group{width: 163px;}
.form_content .telephone_wrapper .phone_number{height: 40px; border: 1px solid #cccccc; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1); outline: none; padding: 6px 12px; width: 185px; display: inline-block;}
.form_content .telephone_wrapper .ccode, .form_content .telephone_wrapper .acode{width: 60px; padding: 9px; display: inline-block;}
.success_msg{width: 100%; padding: 20px 0; margin: 20px 0 10px; box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1); background: rgba(255, 255, 255, 0.75);}
.success_msg .left_msg{border-right: solid 1px #ccc; padding-left: 20px;}
.success_msg .left_msg h2{font-size: 16px; margin: 0 0 10px; position: relative; padding: 5px 0 0 50px; font-weight: 700;}
.success_msg .left_msg h2 img{position: absolute; left: 10px; top: 0; width: 30px;}
.success_msg .info_wrapper{padding-left: 50px; margin: 10px 0;}
.success_msg .info_wrapper p{font-size: 12px; line-height: 18px; margin: 0;}
.success_msg .info_wrapper a{background: #3274f4; border: 1px solid #3274ff; height: 28px; width: 160px; color: #ffffff; line-height: 25px; font-size: 14px; outline: none; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; display: inline-block; text-decoration: none; text-align: center;}
.success_msg .info_wrapper a:hover, .success_msg .info_wrapper a:focus{background: #f96b00; border-color: #f96b00; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -ms-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);}
.right_success{width: 100%;}
.right_success p i{color: #3274f4}
.right_success p{margin: 0; font-size: 12px;}
.right_success h3 i{color: #cccccc;}
.right_success h3{font-size: 14px; font-weight: 700; margin: 5px 0;}
.right_success ul{margin: 10px 0 0; padding: 0 0 0 20px;}
.right_success ul li{display: block; margin: 0 0 8px; color: #666666;}
.right_success ul li:last-child{margin: 0;}
.seller_wrapper{width: 100%; margin: 10px 0 20px; border: 1px solid #e6e7eb;}
.seller_wrapper .seller{width: 25%; float: left; position: relative; padding: 20px 0 30px 20px; border-right: 1px solid #e6e7eb; box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1); background: rgba(255, 255, 255, 0.75);}
.seller_wrapper .add_dark{background: rgba(255, 255, 255, 0.85);}
.seller_wrapper .title h2{font-size: 16px; margin: 0 0 10px;}
.seller_wrapper .description h3{color: #ff6a00; line-height: 20px; margin: 0 0 12px; font-size: 14px;}
.seller_wrapper .seller ul{margin: 0 0 16px; padding: 0;}
.seller_wrapper .seller ul li{line-height: 24px; font-size: 12px; color: #666666; list-style-type: none;}
.seller_wrapper .seller ul li i{color: #3274f4;}
.seller_wrapper .seller a{background: #3274f4; border: 1px solid #3274ff; height: 28px; color: #ffffff; line-height: 25px; font-size: 14px; outline: none; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; display: inline-block; text-decoration: none; text-align: center; padding: 0 30px;}
.seller_wrapper .seller a:hover, .seller_wrapper .seller a:focus{background: #f96b00; border-color: #f96b00; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); -ms-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);}
a.back_to{color: #fff; text-decoration: none; font-size: 12px;}
.marginT200{margin: 200px 0 0;}
.marginT120{margin: 120px 0 0;}

/**** progress bar css ****/
.step_progressbar{width: 100%;}
.step_progressbar{position: relative; margin: 15px 0 0;}
.step_progressbar .common_width{width: 33.33%; float: left; height: 15px;}
.step_progressbar .ending{ background: #1686CC}
.step_progressbar .initial{background: #F2F6FF;}
.step_progressbar .medium{background: #A8D4F0;}
.step_progressbar .progress_slide{background: url("assets/img/progress_slide.png"); background-size: 100%; position: absolute; width: 16px; height: 22px;  left: 0; top: -7px;}
footer{margin: 120px 0 0;}
/**** end progress bar css ****/

/**** buyer remaining css ****/
.buyer-filed-wrap .minus{width: 18px; float: left; background-color: #fff; border: 1px solid #cccccc; border-right: 0; font-weight: lighter; text-decoration: none; height: 40px; line-height: 38px; text-align: center;}
.buyer-filed-wrap .minus.disabled{cursor: default;}
.buyer-filed-wrap .plus{width: 18px; float: left; background-color: #fff; border: 1px solid #cccccc; font-weight: lighter; text-decoration: none; height: 40px; line-height: 38px; text-align: center; border-left: 0;}
.buyer-filed-wrap .readonly_number{float: left; width: 41px; border: 1px solid #cccccc; height: 40px; outline: none; text-align: center;}
.header-nav2{perspective: 2000px; position: relative; z-index: 10;}
.header-nav2-in ul.sub_menu{background: #f6f9fc; border-radius: 6px; padding: 10px 0; margin: 0; position: absolute; left: 0; top: 52px; width: 300px; transform: rotateX(-15deg); -webkit-transform: rotateX(-15deg); -moz-transform: rotateX(-15deg); -ms-transform: rotateX(-15deg); transition: all ease-in-out 0.15s; -webkit-transition: all ease-in-out 0.15s; -moz-transition: all ease-in-out 0.15s; -ms-transition: all ease-in-out 0.15s; transform-origin: top; opacity: 0; z-index: -9999; box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1); -webkit-box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1); -moz-box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1); visibility: hidden; text-align: left;}
.header-nav2-in ul.sub_menu li{display: block; margin: 0; font-size: 16px; color: #000; padding: 0;}
.header-nav2-in ul.sub_menu li a{padding: 7px 20px; color: #333; font-size: 14px; display: block;}
.header-nav2-in li:hover ul.sub_menu{transform: rotateX(0deg); transition: all ease-in-out 0.15s; -webkit-transition: all ease-in-out 0.15s; -moz-transition: all ease-in-out 0.15s; -ms-transition: all ease-in-out 0.15s; opacity: 1;  visibility: visible;}
.header-nav2-in ul.sub_menu li.li_list{font-weight: bold; padding: 0 20px;}
.header-nav2-in ul.sub_menu li ul{padding: 0; margin: 0 -20px; background: #f6f9fc;}
.header-nav .nav-in{margin: 0; padding: 15px 0;}
.header-nav2-in ul.sub_menu li ul li a{padding: 7px 0 7px 40px;}
.header-nav2-in ul.sub_menu li a:hover {background: #3274ff; color: #fff;}
.header-nav.buyer_menu{width: 100%; float: none;}
/**** End buyer remaining css ****/

/*mobile menu*/
#carbonads,.c-mask,.c-menu {position: fixed}
body,html {margin: 0; padding: 0; height: 100%}
.o-wrapper {transition: transform 0.8s}
.c-menu,.o-wrapper {-webkit-transition: -webkit-transform 0.8s}
.c-menu {z-index: 200; background-color: #fff; transition: transform 0.8s}
.c-menu--push-right{width: 220px; height: 100%; overflow-y: auto;}
@media all and (min-width:320px) {
    .c-menu--push-right{width: 250px}
    /*.c-menu--push-right{-webkit-transform: translateX(250px); -ms-transform: translateX(250px); transform: translateX(250px)}
    .o-wrapper.has-push-right {-webkit-transform: translateX(-250px); -ms-transform: translateX(-250px); transform: translateX(-250px)}*/
}
.c-menu ul{ margin:0; padding: 0;}
.c-menu ul li{ border-bottom:1px solid #e7e7e7;}
.c-menu ul li a {display: block; padding: 10px 15px 10px 10px; outline: none; color: #151515; text-align: right; text-decoration: none; font-size: 16px;}
.c-menu ul li ul.mob_col{margin: 0; padding: 0;}
.c-menu ul li ul.mob_col li a{padding: 10px 40px 10px 10px;}
.c-menu ul li.li_list{padding: 10px 15px 0 10px; text-align: right; font-size: 15px; color: #000; font-weight: bold; border: 0;}
.c-menu ul li.li_list ul{margin: 0 -15px;}
.c-menu ul li.li_list ul li a{padding: 10px 15px 10px 10px; font-weight: normal; font-size: 13px;}
.c-menu ul li.li_list ul li:last-child{border-bottom: 0;}
.c-menu ul li a:hover{ background-color:#ddd; color:#000;}
.c-menu--push-right .c-menu__close{display: none;}
.c-menu--push-right{top: 0; left: -250px; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -mstransition: all ease-in-out 0.3s;}
.c-menu--push-right.is-active{left: 0;}
/*.c-menu--push-right.is-active,.c-menu--slide-right.is-active { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0)}*/
.c-mask,body.has-active-menu {overflow: hidden}
/*.o-wrapper.has-push-right {-webkit-transform: translateX(-220px); -ms-transform: translateX(-220px); transform: translateX(-220px)}*/
.c-mask {z-index: 100; top: 0; left: 0; width: 0; height: 0; background-color: #000; opacity: 0; -webkit-transition: opacity .3s, width 0s .3s, height 0s .3s; transition: opacity .3s, width 0s .3s, height 0s .3s}
.c-mask.is-active {width: 100%; height: 100%; opacity: .7; -webkit-transition: opacity .3s; transition: opacity .3s}
.c-buttons {text-align: right; display: none; cursor: pointer;}
.c-buttons .hamburger-inner, .c-buttons .hamburger-inner::before, .c-buttons .hamburger-inner::after{width: 30px; height: 2px ; background-color: #ffffff;}
.c-buttons .hamburger{padding: 0;}
/*mobile menu*/




/**** End Registration form css ****/

/* Responsive layout */

@media only screen and (max-width: 1199px){
	.header-nav2 .header-nav2-in li a{padding: 15px 10px; font-size: 15px;}
	.seller_wrapper, .seller_wrapper .seller{height: 251px;}
	ul.checkout-bar li{font-size: 14px;}
}

@media(max-width: 991px) {
/* Header Nav */
.header-nav .nav-in li a {
	padding: 0 10px;
}
/* Header Nav End */
.div-wrap {
	height: auto;
}
.image-req-msg {
	position: relative;
	bottom: 0px;
}

.mobile-nav-button.index_nav_btn{top: 40px; right: 30px;}
.header-wrap {
    /*padding: 20px 0 0;*/
    padding: 0;
}
.header-logo {
	float: none;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.mobile-nav-button {
	display: block;
	position: absolute;
	top: 20px;
	right: 15px;
}
.mobile-nav-button .fa {
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.header-nav {
	display: none;
	float: none;
	width: 100%;
	padding-right: 30px;
}
.header-nav .nav-in {
	padding-left: 0px;
	background: #fff;
	padding: 30px 0px;
}
.header-nav .nav-in li {
	display: block;
	margin-bottom: 10px;
}
.header-nav .nav-in li a {
	color: #333;
}
.header-nav .nav-in li a .add-new {
	right: -30px;
}

/**** n css ****/
.step_progressbar{margin: 15px 0 20px;}
.right_success{padding-left: 30px;}
.seller_wrapper, .seller_wrapper .seller{height: 100%;}
.seller_wrapper .seller{width: 100%; border-right: 0;}
ul.checkout-bar li{font-size: 12px; font-weight: normal;}
/*-----mobile menu----*/
.c-buttons {display: block; position: absolute; z-index: 10000; right: 15px; top: 25px; transition: top 0.5s ease-in-out; -webkit-transition: top 0.5s ease-in-out; -moz-transition: top 0.5s ease-in-out;}
ul.header_social_icon{text-align: right; }
ul.header_social_icon li{margin: 0; display: inline-block; border-bottom:0px; margin-left:10px !important;}
ul.header_social_icon li a{box-shadow: none; text-decoration: none; padding:0px; }
ul.header_social_icon li a:hover{ background-color:transparent;}
.header-nav2{display: none;}
.c-menu--push-right .panel-group{margin: 0;}
.c-menu--push-right .panel-group .panel{box-shadow: none; border: 0; border-bottom: 1px solid #dddddd;}
.c-menu--push-right .panel-default>.panel-heading{border-color: transparent; background: transparent; text-align: right;}
.c-menu--push-right .panel-collapse .panel-body {padding: 0;}
.c-menu--push-right .panel-collapse .panel-body ul.mob_col li a{font-size: 13px;}
.c-menu--push-right .panel-heading h4 a{text-decoration: none; display: block; position: relative;}
.c-menu--push-right .panel-heading h4 a:before{content: "\f068"; font-family: "FontAwesome"; position: absolute; left: 0; top: 0;}
.c-menu--push-right .panel-heading h4 a.collapsed:before{content: "\f067";}
.c-menu--push-right ul{margin: 0; padding: 0;}
/*.c-menu--push-right ul li{}*/
/*-----mobile menu----*/
.faq-content{margin: 20px 0 0;}
.faq-image{text-align: center;}
.faq-image img{width: 100%;}
.search-tab{background: transparent;}
.tabs-animated{background: rgba(255, 255, 255, 0.59);}
.calcu-button-wrap{position: static; margin: 15px;}
.search-tab .tab-pane{background: transparent;}
.registration_step{margin: 10px 0 0;}
a.back_to{color: #333333;}
footer.marginT0{margin: 0;}
.bg_color_sh{margin: 50px 0 0;}
.marginT120{margin: 0;}
/**** End n css ****/

}
@media(max-width: 767px) {



/* end movile nav */
.main-title {
	font-size: 28px;
}
.category-wrap ul li {
	width: 50%;
	margin-bottom: 15px;
}
.category-wrap ul li:nth-child(2) {
	padding-right: 0px;
}

/**** N css ****/
.registration_step ul li{width: 144px;}
.form_content label{text-align: left; margin: 0 0 5px;}
/*.form_content .form_text{margin: 0 15px;}*/
/*.form_content .input_checkbox{margin-left: 15px;}
.form_content .submit_btn{margin-left: 15px;}*/
.form_content{padding: 30px 15px;}
.success_msg .left_msg{padding-left: 0;}
.right_success{padding-left: 10px;}
.process-step-wrap{height: 100%;}
.search-tab{background-color: rgba(255, 255, 255, 0.59);}
.form_content .form-inline .form-group{width: 330px;}
.process-step-wrap{display: none;}
.category-wrap ul li{float: left;}
.other-details-field ul li{width: 50%; margin-bottom: 15px;}
.other-details-field ul li:nth-child(2){padding: 0;}
.category-wrap ul li:nth-child(3), .category-wrap ul li:nth-child(4), .other-details-field ul li:nth-child(3), .other-details-field ul li:nth-child(4){margin-bottom: 0;}
.steps ul li{font-size: 16px; padding-right: 10px;}
/**** End N css ****/

}
@media(max-width: 480px) {
.main-title {
	font-size: 24px;
}
.form-content h3, .section-title {
	font-size: 18px;
}
.section-title {
	margin-bottom: 15px;
}
.category-wrap ul li {
	width: 100%;
	padding-right: 0px;
}
.prod-quantity, .pices {
	float: none;
	width: 100%;
	margin-bottom: 15px;
}
.ur-req {
	width: 100%;
	float: left;
	margin: 0px;
	margin-bottom: 15px;
}
.steps ul li {
	font-size: 18px;
	margin-bottom: 10px;
}
.footer-nav {
	padding-bottom: 0;
}

/**** N css ****/
.header_content .logo_bg a{width: 150px; background-size: 420px; background-position: 0 0;}
.registration_step ul li{width: 90px; font-size: 12px;}
.registration_step ul li i{height: 15px; width: 15px; line-height: 15px; font-size: 10px;}
.form_content .form_text, .form_content .submit_btn{width: 100%;}
.form_content .input_agreement{width: 80%;}
.form_content select, .form_content select.country_inside, .form_content .form-inline .form-group{width: 100%;}
.form_content .telephone_wrapper .phone_number{width: 138px;}
.form_content .telephone_wrapper .ccode, .form_content .telephone_wrapper .acode{width: 40px;}
.search-tab-wrap .nav-tabs li{width: 100%;}
.label-style{font-size: 12px;}
.buyer-form-field{width: 100%;}
.buyer-filed-wrap{display: block; margin: 0 0 10px 0;}
.buyer-form-label{width: 100%; display: block; border: 1px solid #cccccc; border-bottom: 0;}
.mess-note{margin: 20px 0 0; padding: 30px 0 0;}
.buyer-filed-wrap .minus, .buyer-filed-wrap .plus{width: 7.5%;}
.buyer-filed-wrap .readonly_number{width: 85%;}
header{padding: 10px 0 0;}
.registration_step{margin: 0;}
.bg_color_sh{margin: 25px 0 0;}
.form_content{padding: 15px;}
.other-details-field ul li{width: 100%; padding-right: 0;}
.category-wrap ul li:nth-child(3), .other-details-field ul li:nth-child(3){margin-bottom: 15px;}

/**** End N css ****/

}
@media (min-width: 880px) {
#stripes span {
	height: 190px;
}
#stripes :nth-child(1) {
	width: 33.33333%;
	left: -16.66666%;
	background: #53f;
}
#stripes :nth-child(2) {
	width: 33.33333%;
	top: 0;
	left: 16.66666%;
	right: auto;
	background: #4553ff;
}
#stripes :nth-child(3) {
	width: 33.33333%;
	left: 49.99999%;
	bottom: auto;
	background: #4f40ff;
}
#stripes :nth-child(4) {
	width: 33.33333%;
	top: 380px;
	right: -16.66666%;
	background: #25ddf5;
}
#stripes :nth-child(5) {
	width: 33.33333%;
	bottom: 0;
	background: #1fa2ff;
}
}
@media (min-width: 670px) {
#stripes span {
	height: 150px;
}
#stripes :nth-child(1) {
	top: 0;
	background: #4750ff;
}
#stripes :nth-child(2) {
	width: 16.66667%;
	top: 300px;
	bottom: auto;
	background: #0dcfff;
}
#stripes :nth-child(3) {
	width: 33.33333%;
	right: auto;
	background: #11bdff;
}
/* Buyer Page Style */
}


/* Auto Complete Sectect Box Start */
.autocomplete-box{
    position: relative;
}
.autocomplete-box >div{
    display: block !important;
}
.autocomplete input{
    border-radius: 0px;
    border: 1px solid #ccc;
    height: 40px;
 width: 100% !important;
 padding: 6px 12px;
}
/* Auto Complete Sectect Box End */



/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }



/*Spring*/

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.15s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.32s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
            transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
            transform: translate3d(0, 10px, 0) rotate(-45deg); }

