<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="success_msg">
						<div class="row">	
							<div class="col-xs-12 col-sm-12 col-md-9">					
								<div class="left_msg">
									<h2>Congratulations,abc! Your registration is complete. <img src="../assets/img/success_icon.png"></h2>
									<div class="info_wrapper">
										<p>Sign-in Account: ab************2@gmail.com</p>
										<p>Note: you can use this account to sign in to both Alibaba.com and Aliexpress.com.</p>
									</div>

									<div class="info_wrapper">
										<p>Next, tell us about your sourcing preferences to personalize your Alibaba.com experience.</p>
									</div>
									<div class="info_wrapper">
										<a href="#">Personalize Now</a>
									</div>

								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-3">
								<div class="right_success">
									<p><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Registration</p>
									<h3><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Personalized Profile</h3>
									<ul>
										<li><i class="fa fa-cog" aria-hidden="true"></i> Customize your preferences</li>
										<li><i class="fa fa-search" aria-hidden="true"></i> Reduce your search time</li>
										<li><i class="fa fa-usd" aria-hidden="true"></i> Get your business moving</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="seller_wrapper">
						<div class="seller add_dark">
							<div class="title">
								<h2>Trade Assurance</h2>
							</div>
							<div class="description">
								<h3>Get Full Protection for Your Orders!</h3>
							</div>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i> 100% Product quality protection</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> 100% On-time shipment protection</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> 100% Payment protection</li>
							</ul>

							<a href="#">Learn More</a>
						</div>

						<div class="seller">
							<div class="title">
								<h2>Request for Quotation</h2>
							</div>
							<div class="description">
								<h3>One Request, Multiple Quotes.</h3>
							</div>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i> Get Quotes for Your Custom Request</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> Let the Right Suppliers Find You</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> Close Deals with One Click</li>
							</ul>
							<a href="#">Try FRQ</a>
						</div>

						<div class="seller">
							<div class="title">
								<h2>Gold Supplier Membership</h2>
							</div>
							<div class="description">
								<h3>Get 22X More Inquiries</h3>
							</div>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i> Premium Gold Supplier Icon</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Products Display</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> Match with Quality Buyers</li>
							</ul>
							<a href="#">Upgrade Now!</a>
						</div>

						<div class="seller">
							<div class="title">
								<h2>Reseller Market</h2>
							</div>
							<div class="description">
								<h3>Data-Driven Instant Buying</h3>
							</div>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i> Real-time data</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> Instant buying</li>
								<li><i class="fa fa-check" aria-hidden="true"></i> Fixed low prices</li>
							</ul>
							<a href="#">Buy Now</a>
						</div>
						<div class="clearfix"></div>
					</div>

					<a routerLink="/requestQuotation" class="back_to">Back to Homepage <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</section>
	<div class="marginT120"></div>